<div class='container-fluid footer'>

  <div class='pull-left logo'>
    inBloom is a trademark of inBloom, Inc.
  </div>

  <div class='pull-right'>
    <a href="http://www.inbloom.org/terms-of-use">Terms of Use</a> |
    <a href="http://www.inbloom.org/privacy-policy">Privacy Policy</a>
  </div>


</div>
