<div class='container-fluid footer'>

  <div class='pull-left logo'>
    Shared Learning Collaborative, LLC.
  </div>

  <div class='pull-right logo'>
    <a href="http://dev.slcedu.org/legal/terms-of-use">Terms of Use</a> | 
    <a href="http://dev.slcedu.org/legal/privacy-policy">Privacy Policy</a>
  </div>


</div>
