<div class='container-fluid header'>

  <div class='pull-left logo'>
    <img src="/assets/inbloom-logo.png" />
  </div>

  <div id="userWelcome" class="pull-right">
    <% if current_user %>
      Welcome, <%= current_user.full_name %> | <%= link_to "Sign Out", signout_path, :class => "muted" %>
      <%= @slc_request %>
    <% else %>
      <%= link_to "Sign in with SLC", "/auth/slc" %>
    <% end %>
  </div>

</div>

<div class='container-fluid header-title'>
  Tagger
</div>
