<table cellspacing='2' cellpadding='5' class="table-condensed" style="width:100%;border-bottom: thin solid #FBD385;">
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="educationalAlignment">Educational Alignment</label>
      <select class="input-xlarge" id="educationalAlignment">
        <option></option>
        <option selected="selected">Common Core State Standards</option>
      </select>
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="alignmentType">Alignment Type</label>
      <select class="input-xlarge" id="alignmentType">
        <option></option>
        <option>assesses</option>
        <option>teaches</option>
        <option>requires</option>
        <option>textComplexity</option>
        <option>readingLevel</option>
        <option>educationalSubject</option>
        <option>educationLevel</option>
      </select>
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="dotNotation">Dot Notation</label>
      <input type="text" class="input-xlarge" id="dotNotation">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="itemURL">Item URL</label>
      <input type="text" class="input-xlarge" id="itemURL">
    </td>
  </tr>
  <tr style="display:none;">
    <td style="text-align:left;">
      <label class="control-label" for="itemGUID">Item GUID</label>
      <input type="text" class="input-xlarge" readonly="readonly" id="itemGUID">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="description">Description</label>
      <textarea type="text" class="input-xlarge" id="description" rows="10"></textarea>
    </td>
  </tr>
  <tr>
    <td style="text-align:right;">
      <button class="btn btn-success" id="addButton"><i class="icon-tag"></i>  Add</button>
      <button class="btn btn-warning disabled" id="deleteButton"><i class="icon-remove"></i>  Delete</span></button>&nbsp;&nbsp;&nbsp;
      <br/>&nbsp;
    </td>
  </tr>
</table>
<br/>
<h4>Previous Session Alignments:</h4>
<p style="font-size:8pt;color:Grey;"><i>Hover over items below for more information</i></p>
<table id="currentAlignmentTable" style="width:100%;text-align:center;">
  <thead>
  <tr>
    <th>Select</th><th>Dot Notation</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
