
<table class="table table-striped" id='currentAlignmentTable'>
  <thead>
  <tr>
    <th>DOT Notation</th>
    <th>Alignment</th>
  </tr>
  </thead>
  <tbody>
  <tr class='noAlignmentsYet'>
    <td colspan='2'>[ No alignments for this session ]</td>
  </tr>
  </tbody>
</table>

<button class="btn btn-mini btn-success add-alignment pull-right"><i class="icon-tag"></i> Add Alignment</button>
