<table class="table-condensed">
  <tr>
    <td>
      <img src='' id='thumbnailImage' width='65' height='65' />
      <button class='btn btn-success pull-right' id='addThumbnailButton'>Add Image</button>
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="title">Title</label>
      <input type="text" class="input-xlarge" id="title" placeholder="Title">
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="url">URL</label>
      <input type="text" class="input-xlarge" id="url" placeholder="Website URL">
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="language">Language</label>
      <select class="input-xlarge" id="language" placeholder="Language">
        <option value="">Choose language...</option>
        <option value="EN_US">English</option>
        <option value="ES_ES">Spanish</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="createdOn">Created On</label>
      <input type="text" class="input-xlarge" id="createdOn" value="<%= Time.now.strftime("%Y-%m-%d") %>" placeholder="Creation Date">
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="topic">Topic/Subject</label>
      <input type="text" class="input-xlarge" id="topic" placeholder="Topic/Subject">
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="createdBy">Created By</label>
      <input type="text" class="input-xlarge" id="createdBy" placeholder="Created By">
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="usageRightsURL">Usage Rights URL</label>
      <input type="text" class="input-xlarge" id="usageRightsURL" placeholder="Usage Rights URL">
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="publisher">Publisher</label>
      <input type="text" class="input-xlarge" id="publisher" placeholder="Publisher">
    </td>
  </tr>
  <tr>
    <td>
      <label class="control-label" for="isBasedOnURL">Is Based On URL</label>
      <input type="text" class="input-xlarge" id="isBasedOnURL" placeholder="Based on URL">
    </td>
  </tr>
</table>
