<table class="table-condensed">
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="title">Title</label>
      <input type="text" class="input-xlarge" id="title">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="url">URL</label>
      <input type="text" class="input-xlarge" id="url">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="language">Language</label>
      <select class="input-xlarge" id="language">
        <option></option>
        <option>English</option>
        <option>Spanish</option>
      </select>
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="createdOn">Created On</label>
      <input type="text" class="input-xlarge" id="createdOn" value="">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="topic">Topic/Subject</label>
      <input type="text" class="input-xlarge" id="topic">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="createdBy">Created By</label>
      <input type="text" class="input-xlarge" id="createdBy">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="usageRightsURL">Usage Rights URL</label>
      <input type="text" class="input-xlarge" id="usageRightsURL">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="publisher">Publisher</label>
      <input type="text" class="input-xlarge" id="publisher">
    </td>
  </tr>
  <tr>
    <td style="text-align:left;">
      <label class="control-label" for="isBasedOnURL">Is Based On URL</label>
      <input type="text" class="input-xlarge" id="isBasedOnURL">
    </td>
  </tr>
</table>
