<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="pull-left">
        <button class="btn btn-success" id="newbutton"><i class="icon-edit icon-white"></i> New</button>
				<% if current_user %>
        	<button class="btn btn-success" id="saveDraftButton" href="#"><i class="icon-hdd icon-white"></i> Save</button>
				<% end %>
        <button class="btn btn-success" id="loadButton" data-toggle="modal" href="#loadModal"><i class="icon-upload icon-white"></i> Import</button>

        <div class="btn-group">
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-download icon-white"></i> Export  <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a id="exportCsvButton" href="#"><i class="icon-download icon-white"></i> CSV</a></li>
            <li><a id="exportJsonButton" href="#"><i class="icon-download icon-white"></i> JSON</a></li>
            <li><a id="exportHtmlButton" href="#"><i class="icon-download icon-white"></i> HTML</a></li>
          </ul>
        </div>
				<% if current_user %>
        	<button class="btn btn-inverse disabled" id="publishButton"><i class="icon-ok-sign icon-white"></i> Publish</button>
				<% end %>
      </div>
      <div class='pull-left navbar-text'>Version 1.0.2</div>

      <div class="pull-right">
        <a class="btn btn-inverse" href="help/Tagger_1.0.1_User_Guide.html" target="_blank"><i class="icon-flag icon-white"></i> Help</a>
        <a class="btn btn-inverse" target="_blank" href="https://docs.google.com/spreadsheet/viewform?formkey=dDBvQnZVWTVfbmJ5LW5kMDFlNHM4c2c6MA"><i class="icon-warning-sign icon-white"></i> Report Issue</a>
        <a class="btn btn-inverse" target="_blank" href="http://asn.jesandco.org/resources/ASNJurisdiction/CCSS"><i class="icon-info-sign icon-white"></i> CCSS Web</a>
      </div>

    </div>
  </div>
</div>

