<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="pull-left">
        <button class="btn btn-success" id="newbutton"><i class="icon-edit icon-white"></i> New</button>
        <button class="btn btn-success" id="saveDraftButton" href="#"><i class="icon-hdd icon-white"></i> Save</button>
        <button class="btn btn-success" id="loadButton" data-toggle="modal" href="#loadModal"><i class="icon-upload icon-white"></i> Import</button>

        <div class="btn-group">
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-download icon-white"></i> Export  <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a id="exportCsvButton" href="#"><i class="icon-download icon-white"></i> CSV</a></li>
            <li><a id="exportJsonButton" href="#"><i class="icon-download icon-white"></i> JSON</a></li>
            <li><a id="exportHtmlButton" href="#"><i class="icon-download icon-white"></i> HTML</a></li>
          </ul>
        </div>

        <button class="btn btn-inverse" id="publishLriButton"><i class="icon-ok-sign icon-white"></i> Publish</button>

      </div>
      <div class='pull-left navbar-text'>LRMI Version 1.1.0</div>

      <div class="pull-right">
        <a class="btn btn-inverse" href="help/LRMI_Tagger_1.0.html" target="_blank"><i class="icon-flag icon-white"></i>  Help</span></a>
        <a class="btn btn-inverse" target="_blank" href="https://docs.google.com/spreadsheet/viewform?formkey=dHdkazN1cWhLUXhUU2Jjang0Qjl2eXc6MQ#gid=0"><i class="icon-warning-sign icon-white"></i>  Report Issue</span></a>
        <a class="btn btn-inverse" target="_blank" href="http://asn.jesandco.org/resources/ASNJurisdiction/CCSS"><i class="icon-info-sign icon-white"></i>  CCSS Web</span></a>
      </div>
      <div id="userWelcome" class="pull-right navbar-text">You are not logged in.</div>

    </div>
  </div>
</div>

