<div id="deleteModal" class="modal hide fade">
  <div class="modal-header">
    <a onclick="$('#deleteModal').modal('hide'); return false;" class="close">&times;</a>
    <h3>Delete Resource</h3>
  </div>
  <div class="modal-body">
    <p class='question'>You're about to delete a local resource, this can't be undone.</p>
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger">Delete Resource</a>
    <a onclick="$('#deleteModal').modal('hide'); return false;" class="btn">Cancel</a>
  </div>
</div>