<div id="messageModal" class="modal hide fade">
  <div class="modal-header">
    <a href="javascript:$('#messageModal').modal('hide');" class="close">&times;</a>
    <h3>Delete Tag</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <a href="javascript:$('#messageModal').modal('hide');" class="btn">Okay</a>
  </div>
</div>