
development:
  adapter: postgresql
  encoding: unicode
  database: tagger_development
  pool: 5
  username:                     # change these to whatever it is
  password:                     # change these to whatever it is
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: tagger_test
  pool: 5
  username:                     # change these to whatever it is
  password:                     # change these to whatever it is
  host: localhost

production:
  adapter: postgresql
  encoding: unicode
  database: tagger_production
  pool: 5
  username:                     # change these to whatever it is
  password:                     # change these to whatever it is
  host: localhost
