/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .
 */


#slider span {
	height:3px; float:left;width:99%;
}
#slider {
	width:99%;
}

.ui-widget-content { 
	padding-bottom:8px;
}


.example{
	padding:10px;
	border:1px solid #ccc
}

#drop_zone{
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:25px;
	text-align:center;
	font:20pt bold,"Vollkorn";
	color:#bbb;
	width:88%;
}

.thumb{height:75px;border:1px solid #000;margin:10px 5px 0 0}

#progress_bar{margin:10px 0;padding:3px;border:1px solid #000;font-size:14px;clear:both;opacity:0;-o-transition:opacity 1s linear;-moz-transition:opacity 1s linear;-webkit-transition:opacity 1s linear;-ms-transition:opacity 1s linear}
#progress_bar.loading{opacity:1}
#progress_bar .percent{background-color:#9cf;height:auto;width:0}
#byte_content{margin:5px 0;max-height:100px;overflow-y:auto;overflow-x:hidden}
#byte_range{margin-top:5px}