.pmLinearGradient(@stop1:0, @color1:#ccc, @stop2:50%, @color2:#ddd, @stop3:100%, @color3:#ccc){
  background-color:@color2;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3));
  background-image:-moz-linear-gradient(center top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background-image:-ms-linear-gradient(center top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background-image:-o-linear-gradient(center top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  background-image:linear-gradient(center top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", @color1, @color3));
}


body {
  overflow: hidden;

}

div.header {
  background: black;
  border-bottom: 1px solid #1990d4;

}

div.footer {
  background: black;
  border-top: 1px solid #1990d4;
  color: white;
  height: 30px;
  line-height: 30px;
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  a {
    color: #ffffff;
    &.muted {
      color: #c6c6c6;
    }
  }
}

.disabled.hidden {
  display: none;
}

div.header-title {
  color: #DADADA;
  text-transform: uppercase;
  font-size: 2em;
  padding: 10px 20px;
}

#mainContentTopLeft {
  position:absolute;
  top: 155px;
  left: 20px;
  width: 260px;
  z-index: 200;
  min-width: 250px;
  padding-right: 10px;
  bottom: 32px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  border-right: 1px solid #ade4ff;
}

#mainContentTopRight {
  position:absolute;
  top: 155px;
  left: 300px;
  width: 315px;
  z-index: 100;
  min-width: 315px;
  padding-right: 10px;
  bottom: 32px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  border-right: 1px solid #fbd385;
}

#mainContentBottom {
  position:absolute;
  top: 155px;
  left: 630px;
  right: 0px;
  bottom: 32px;
}

#tags,
#output,
#history {
  padding-left: 10px;
}

#userWelcome {
  padding-top: 28px;
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  a {
    color: #ffffff;
    &.muted {
      color: #c6c6c6;
    }
  }
}

select.multiple {
  height: 300px;
  &#endUser {
    height: 145px;
  }
  &#ageRange {
    height: 165px;
  }
  &#interactivityType {
    height: 60px;
  }
  &#groupType {
    height: 165px;
  }
}

li a.disabled {
  font-weight: bold;
  &:hover {
    color: #000000;
    background: #ffffff;
  }
}

.navbar-inner {
  border: 1px solid #c8c8c8;
  .pmLinearGradient(0,#d9d9d9,50%,#d5d5d5,100%,#d0d0d0);
  padding: 0 10px;
}

.btn-inverse {
  .pmLinearGradient(0,#047bbe,50%,#037bbe,100%,#037bbe);
  &:active {
    background-color:#0350be;
  }
  &[disabled], &.disabled {
    background-color:#999;
  }
}

.btn-group.open .btn-success.dropdown-toggle {
  background-color:#27b1da;
}
.btn-success {
  .pmLinearGradient(0,#2bc7de,50%,#23bfd6,100%,#1cb8cf);
  &:active {
    background-color:#27b1da;
  }
  &[disabled], &.disabled {
    background-color:#999;
  }
}

.bigModal {
  width: 630px;
  margin-left: -315px;
}
.textarea-xxlarge {
  width: 562px;
}
tr.noAlignmentsYet td {
  text-align: center;
}
div.tag-alignments {
  text-align: center;
}
.typeahead {
  z-index: 10000;
}

#multiItemSelector a:hover {
  text-decoration: none;
}

#history {
  a {
    color: #555;
    &:hover {
      text-decoration: none;
    }
    i {
      color: #58b6eb;
    }
  }
}

div.controls.key {
  margin-top: -3px;
  color: #505050;
}

#resourceCount {
  color: #aaa;
  font-size: 12px;
  position: absolute;
  top: 38px;
  left: 30px;

}

p.durationLabel {
  border:0;
  color:#047bbe;
  font-size:10px;
  font-weight:bold;
  text-align:right;
  margin-top: 15px;
  margin-bottom:0;
}

.modal-body .body-text {
  word-break: break-word;
}

#pleasewait {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #000000;
  text-align: center;
  z-index: 10000;
  opacity: 0.9;
  h1 {
    padding: 10px;
    background-color: #000;
    color: #fff;
    margin-top: auto;
  }
}